<header class="relative">
  <nav class="bg-white border-gray-200 px-20 py-10 dark:bg-gray-800">
    <div class="flex flex-wrap justify-between items-center mx-auto w-full">
      <span
        class="relative z-10 self-center text-white text-2xl font-bold whitespace-nowrap dark:text-white"
        >{{ "Chilled grape" | uppercase }}</span
      >

      <div class="justify-between items-center w-full lg:flex lg:w-auto">
        <ul class="flex mt-4 font-medium flex-row lg:space-x-8 lg:mt-0">
          <li>
            <a href="#" class="block py-2 pr-4 pl-3 text-black">Home</a>
          </li>
          <li>
            <a href="#" class="block py-2 pr-4 pl-3 text-black">About</a>
          </li>
          <li>
            <a href="#" class="block py-2 pr-4 pl-3 text-black">Blog</a>
          </li>
          <li>
            <a href="#" class="block py-2 pr-4 pl-3 text-black">Pricing</a>
          </li>
        </ul>
      </div>
      <a
        href="#"
        class="logIn w-[160px] rounded-full text-center text-white dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium text-sm px-4 lg:px-5 py-2 lg:py-2.5 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800"
        >Log in</a
      >
    </div>
  </nav>
  <img src="../assets/top-left.svg" class="absolute top-0 left-0 z-0" alt="" />
</header>
<div class="flex flex-row items-center w-1/2 mx-auto mt-48">
  <div class="flex flex-col items-start">
    <div class="text-6xl text-black font-bold w-[539px] relative">
      {{ "Lorem ipsum dolor sit amet." | uppercase }}
      <img
        src="../assets/mid.svg"
        class="absolute top-[-197px] right-0 z-0"
        alt=""
      />
    </div>
    <a
      href="#"
      class="logIn w-[160px] mt-6 rounded-full text-center text-white dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium text-sm px-4 lg:px-5 py-2 lg:py-2.5 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800"
      >Read More</a
    >
  </div>
  <img
    src="../assets/maxright.svg"
    class="absolute bottom-0 right-0 z-0"
    alt=""
  />
  <img
    src="../assets/right.svg"
    class="absolute bottom-0 right-44 z-0"
    alt=""
  />
  <img
    src="../assets/left-bottom.svg"
    class="absolute bottom-0 left-0 z-0"
    alt=""
  />
</div>
<main>
  <div
    class="px-20 w-full flex flex-row h-auto items-start justify-between mt-96"
  >
    <div class="flex flex-col items-start w-1/2">
      <div class="mt-6 font-bold text-3xl w-[323px]">
        {{ "Lorem ipsum dolor sit amet." | uppercase }}
      </div>
      <p class="w-[543px] mt-6 text-2xl">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum
        dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit.
      </p>
      <a
        href="#"
        class="logIn w-[160px] mt-6 rounded-full text-center text-white dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium text-sm px-4 lg:px-5 py-2 lg:py-2.5 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800"
        >Read More</a
      >
    </div>
    <div class="w-1/2 relative">
      <img
        class="absolute z-10 h-auto max-w-full top-[-230px]"
        src="../assets/pngwing 1.svg"
        alt=""
      />
      <img
        class="absolute z-1 h-auto max-w-full"
        src="../assets/behind.svg"
        alt=""
      />
    </div>
  </div>
  <div class="px-20">
    <div
      class="w-full grid grid-cols-1 gap-8 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 mt-60"
    >
      <div
        *ngFor="let item of products; track: userById"
        class="flex flex-col max-w-[369px] rounded-3xl shadow-lg"
      >
        <img [src]="item?.image" class="rounded-3xl h-[314px]" alt="" />
        <div class="m-4">
          <div class="font-bold">{{ item?.product_name | uppercase }}</div>
          <div
            class="flex flex-row items-center justify-between text-[#747474]"
          >
            <span>{{ item?.price | currency : "EUR" : true : "2.2-2" }}</span>
            <span>{{ item?.stock_count }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-10">
      <a class="text-[#5C6DDE] font-bold text-xl">Load More</a>
    </div>
  </div>
</main>
<footer class="relative mt-[180px]">
  <img
    class="absolute bottom-0 left-0 z-1 w-[600.32px]"
    src="../assets/footer.svg"
    alt=""
  />
  <div class="relative z-10 flex flex-row items-start justify-between p-20">
    <div class="flex flex-col w-4/12 text-white">
      <div class="text-3xl font-bold">{{ "Chilled grape" | uppercase }}</div>
      <p class="text-xl mt-3">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum
        dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet.
      </p>
    </div>
    <div class="w-2/12"></div>
    <div class="flex flex-col w-2/12">
      <span
        class="text-transparent bg-gradient-to-r from-green-400 to-indigo-600 bg-clip-text font-bold"
      >
        Company
      </span>
      <ul class="text-black mt-2">
        <li>
          <a href="#" class="block py-2">About</a>
        </li>
        <li>
          <a href="#" class="block py-2">Careers</a>
        </li>
        <li>
          <a href="#" class="block py-2">Our work</a>
        </li>
        <li>
          <a href="#" class="block py-2">Contact</a>
        </li>
      </ul>
    </div>
    <div class="flex flex-col w-2/12">
      <span
        class="text-transparent bg-gradient-to-r from-green-400 to-indigo-600 bg-clip-text font-bold"
      >
        Products
      </span>
      <ul class="text-black mt-2">
        <li>
          <a href="#" class="block py-2">About</a>
        </li>
        <li>
          <a href="#" class="block py-2">Careers</a>
        </li>
        <li>
          <a href="#" class="block py-2">Our work</a>
        </li>
        <li>
          <a href="#" class="block py-2">Contact</a>
        </li>
      </ul>
    </div>
    <div class="flex flex-col w-2/12 mr-10">
      <span
        class="text-transparent bg-gradient-to-r from-green-400 to-indigo-600 bg-clip-text font-bold"
      >
        Follow Us
      </span>
      <ul class="text-black mt-2 grid grid-cols-3 gap-4">
        <li>
          <a
            href="#"
            class="flex items-center justify-between py-2 w-12 h-12 rounded-2xl bg-gradient-to-r from-green-400 to-indigo-600"
            ><img src="../assets/telegram.svg" class="m-auto" alt=""
          /></a>
        </li>
        <li>
          <a
            href="#"
            class="flex items-center justify-between py-2 w-12 h-12 rounded-2xl bg-gradient-to-r from-green-400 to-indigo-600"
            ><img src="../assets/twitter.svg" class="m-auto" alt=""
          /></a>
        </li>
        <li>
          <a
            href="#"
            class="flex items-center justify-between py-2 w-12 h-12 rounded-2xl bg-gradient-to-r from-green-400 to-indigo-600"
            ><img src="../assets/youtube.svg" class="m-auto" alt=""
          /></a>
        </li>
        <li>
          <a
            href="#"
            class="flex items-center justify-between py-2 w-12 h-12 rounded-2xl bg-gradient-to-r from-green-400 to-indigo-600"
            ><img src="../assets/facebook-one.svg" class="m-auto" alt=""
          /></a>
        </li>
        <li>
          <a
            href="#"
            class="flex items-center justify-between py-2 w-12 h-12 rounded-2xl bg-gradient-to-r from-green-400 to-indigo-600"
            ><img src="../assets/instagram.svg" class="m-auto" alt=""
          /></a>
        </li>
        <li>
          <a
            href="#"
            class="flex items-center justify-between py-2 w-12 h-12 rounded-2xl bg-gradient-to-r from-green-400 to-indigo-600"
            ><img src="../assets/tiktok.svg" class="m-auto" alt=""
          /></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
